<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Material Guard App</span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</button>
        <button mat-button [routerLink]="['/users/new']" routerLinkActive="router-link-active" >New User</button>
        
        
        <ng-container *ngIf="mylogin; else elseTemplate">
            <button mat-button (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #elseTemplate>
            <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
        </ng-template>
        
    </mat-toolbar>
</p>
