<app-header></app-header>
<div class="container">
<h1>Login</h1>
<div class="login">
    <mat-card class="mat-elevation-z8">
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="email">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="Enter your password" [(ngModel)]="password">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        
        <button mat-raised-button (click)="loginUser()">Login</button>
    </mat-card>
</div>
</div>